@page "/Transaction/TransactionComplete"
    
<div class="bg-white">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Payment</h2>
            <p class="mt-1 text-3xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-5xl">Transaction Complete</p>
            <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Your transaction has been processed.<br />Thank you for your business.</p>
        </div>
    </div>
</div>
